name: Update CPLD JSON

on:
  schedule:
    - cron: "37 8 * * *"
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate CPLD JSON
        run: |
          python fetch_cpld.py

      - name: Commit & push if changed
        run: |
          if [[ `git status --porcelain` ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add docs/cpld_latest.json
            git commit -m "Updated CPLD JSON ($(date -u))"
            git push
          else
            echo "No changes"
          fi
